[Unit]
Description=Simple HTTP Server
After=network.target

[Service]
ExecStart=/home/your-user/konzek-devops-engineer-assignment/task1/venv/bin/python /home/your-user/konzek-devops-enginee-assignment/task1/main.py
WorkingDirectory=/path/to/your/app
Restart=always
User=http-server-user
Group=http-server
StandardOutput=file:/var/log/http-server.log
StandardError=file:/var/log/http-server-error.log

[Install]
WantedBy=multi-user.target