[Unit]
Description=Simple HTTP Server
After=network.target

[Service]
ExecStart=/path/to/your/virtualenv/bin/python /path/to/your/app/main.py
WorkingDirectory=/path/to/your/app
Restart=always
User=youruser
Group=yourgroup
StandardOutput=file:/path/to/logs/http-server.log
StandardError=file:/path/to/logs/http-server

[Install]
WantedBy=multi-user.target